button{
    width: 250px;
    height: 80px;
    font-family: poppins,sans-serif;
    font-weight: bold;
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 25px;
}

button:hover{
    background-color: #c82d0e;
    font-size: 30px;
}

.boton-click{
    background-color: #002ead;

}

.boton-reset{
    background-color: #a74601;
}